@import "../../../../styles/sass/vareables";
@import "../../../../styles/sass/mixins";

.latestPostsBlock {
    margin: 40px 20px;
    .blockTitle {
        text-align: left;
        @include text($fontFamilyText, 20px, 600, 1.2, $selectedTextColor);
        margin-bottom: 20px;
    }
    .postsBlock {
        margin-top: 40px;
    }
}

.postFormContainer{
    @include text($fontFamilyText, 20px, 600, 1.2, $selectedTextColor);
    position: relative;
    &::after{
        content: "";
        position: absolute;
        background: $backgroundSecondaryColor;
        width: 100%;
        height: 1px;
        bottom: -20px;


    }
}
