//$backgroundPrimaryColor: #f7f7f7;
$backgroundPrimaryColor: #fff;
$backgroundSecondaryColor: #f0f0ed;
//$backgroundSecondaryColor: #999;
//$primaryColor: #2f9bc1;
$primaryColor: #77af12;
$textColor: #999;
$selectedTextColor: #33363c;
$backgroundHeaderColor: #33363c;
$headerAndBtnTextColor: #fff;
$fontFamilyText: 'Roboto Slab', sans-serif;



