$backgroundPrimaryColor: #fff;
$backgroundSecondaryColor: #f0f0ed;
$primaryColor: #77af12;
$textColor: #999;
$selectedTextColor: #33363c;
$backgroundHeaderColor: #33363c;
$headerAndBtnTextColor: #fff;
$errorColor: #C12F6C;
$fontFamilyText: 'Roboto Slab', sans-serif;




