@import "../sass/vareables";
@import "../sass/mixins";

.btn{
  background-color: $primaryColor;
  padding: 8px;
  @include text($fontFamilyText, 14px, bold, 1, $headerAndBtnTextColor);
  border-radius: 4px;
  border: 0;
}

.btnSecondVariant{
  background-color: $backgroundPrimaryColor;
  padding: 6px;
  @include text($fontFamilyText, 13px, bold, 1, $primaryColor);
  border-radius: 4px;
  border: 1px solid $primaryColor;
}